@import "tailwindcss";

:root {
 /* Background */
  --color-bg: #0B1220;
  --color-card: #121A2B;
  --color-hover: #17233a;
  --color-line: #22304a;

  /* Texto */
  --color-text-primary: #eaf0ff;
  --color-text-muted: #9bb0d1;

  /* Marca / Status */
  --color-brand: #3b82f6;
  --color-live: #ff2d2d;
  --color-warn: #f59e0b;
}

body {
  background: var(--color-bg);
  color: var(--color-text-primary);
  font-family: 'Inter', system-ui, sans-serif;
}
